---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;

$text-color:       #111;
$body-bg: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$font-size-base: 15px !default;

$font-size-h1: 2em;
$font-size-h2: 1.5em;
$font-size-h3: 1.17em;
$font-size-h4: 1.33em;
$font-size-h5: 0.83em;
$headings-font-weight: 400 !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "site"
;
