---
layout: default
---

<div class="home">

  <h2>National Gazettes</h2>

  <ul>
    {% assign years = site.data.gazettes['ZA'].years | reverse %}
    {% for year in years %}
      <li><a href="gazettes/ZA/{{ year }}">{{ year }}</a></li>
    {% endfor %}
  </ul>

  <h2>Provincial Gazettes</h2>

  <div class="row">
    <div class="col-sm-6">

      {% assign breakat = site.data.jurisdictions | size | minus: 1 | divided_by: 2 | floor %}
      {% for jurisdiction in site.data.jurisdictions %}
        {% assign code = jurisdiction[0] %}

        {% if code == 'ZA' %}
          {% continue %}
        {% endif %}

        <h3>{{ jurisdiction[1] }}</h3>

        <ul>
          {% assign years = site.data.gazettes[code].years | reverse %}
          {% for year in years %}
            <li><a href="gazettes/{{ code }}/{{ year }}">{{ year }}</a></li>
          {% endfor %}
        </ul>

        {% if forloop.index0 == breakat %}
          </div><div class="col-sm-6">
        {% endif %}
      {% endfor %}

    </div>
  </div>

</div>
