<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="row">
          <div class="col-sm-7">
            <h2>{{ site.title }}</h2>

            <ul class="list-unstyled">
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              <li><a href="https://github.com/Code4SA/opengazettes">Contribute on GitHub</a></li>
            </ul>

            <p>{{ site.description }}</p>
          </div>

          <div class="col-sm-5 text-right">
            <div class="pull-right">
              <a href="http://code4sa.org"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" class="c4sa-logo img-responsive" alt="Code for SA"></a>
              <br>
              <a href="https://indigotrust.org.uk/"><img src="{{ "/img/indigo_trust.png" | prepend: site.baseurl }}" class="indigo-strust img-responsive" alt="Indigo Trust"></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</footer>
