<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2>{{ site.title }}</h2>

        <div class="row">
          <div class="col-sm-6">

            <ul class="list-unstyled">
              <li>{{ site.title }}</li>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>

          </div>
          <div class="col-sm-6">
            <p>{{ site.description }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</footer>
