<header class="site-header">
  <nav class="navbar">
    <div class="container">

      <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
          <p class="navitems">Join</p><p class="navitems">About</p>
      </div>

    </div>
  </nav>

    <div class="container">
    <div class="row"><div class="col-md-8 col-md-offset-2">

        <div class="header-cta">
            <p class="cta-tagline">The biggest freely available collection of gazettes in South Africa</p>
            <div class="row">
                <div class="col-md-8">
                    <p>Our collection so far:<span class="text-standout">XX</span> gazettes covering <span class="text-standout">YYYY</span> to <span class="text-standout">2016</span></p>
                </div>
                <div class="col-md-4">
                    <a href="#"><button name="button">Liberate your gazettes</button></a>
                </div>
            </div>
        </div>

    </div></div>
    </div>

</header>
