<header class="site-header">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="logo" src="/img/icon-openbook.png"></a>
        <a class="navbar-brand" href="/">Open Gazettes South Africa</a>
      </div>

      <div uib-collapse="navbarCollapsed" class="navbar-collapse bs-js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="http://search.opengazettes.org.za/search">
              Search
            </a>
          </li>
          <li id="about">
            <a href="/about">About</a>
          </li>
          <li id="join">
            <a href="/join">Join</a>
          </li>
          <li id="contact">
            <a href="/about#contact-us">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container subheader">
      <div class="row">

        <div class="col-md-6">
          <div class="byline">
            <p>The biggest freely available collection of gazettes in the country</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="counter">
              <p><i class="fa fa-history" aria-hidden="true"></i> {{ site.data.gazettes.stats.count }} gazettes from  {{ site.data.gazettes.stats.earliest_year }} to {{ site.data.gazettes.stats.latest_year }} </p>
          </div>
        </div>

      </div>
  </div>
</header>
