
<div class="introduction">
	<div class="container">
		<div class="img-center">
			<div class="banner">
				<div class="row">
					<div class="col-md-6">
							<img src="/img/banner_transparent.png" style="width:100%;" />
					</div>
					<div class="col-md-6 cta-message">
							<p>Help us build the biggest collection of freely available gazettes in South Africa</p>
							<a href="/join"><p class="join-title">#GazetteLiberation <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>