{% if page.jurisdiction != "ZA-FS" %}
  <section class="resources">
    <h4>Other sources of Gazettes</h4>
    <ul>
        {% if page.jurisdiction == "ZA" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Published-National-Government-Gazettes.aspx" target="_blank">
              GPW National eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-EC" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-Eastern-Cape.aspx" target="_blank">
              GPW Eastern Cape Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-GT" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-Gauteng.aspx" target="_blank">
              GPW Gauteng Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-NL" %}
          <li>
            <a href="https://www.lawsoc.co.za/" target="_blank">
              KwaZulu-Natal Law Society
            </a>
          </li>
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-KwaZulu-Natal.aspx" target="_blank">
              GPW KwaZulu-Natal Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-LP" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-Limpopo.aspx" target="_blank">
              GPW Limpopo Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-MP" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-Mpumalanga.aspx" target="_blank">
              GPW Mpumalanga Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-NC" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-Northern-Cape.aspx" target="_blank">
              GPW Northern Cape Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-NW" %}
          <li>
            <a href="http://www.gpwonline.co.za/Gazettes/Pages/Provincial-Gazettes-North-West.aspx" target="_blank">
              GPW North West Provincial eGazettes
            </a>
          </li>
        {% endif %}

        {% if page.jurisdiction == "ZA-WC" %}
          <li>
            <a href="https://www.westerncape.gov.za/documents/public_info/P" target="_blank">
              Western Cape Government
            </a>
          </li>
        {% endif %}
    
    </ul>
  </section>
{% endif %}
