body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

button {
    background-color: #0067c5;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-weight:600;
    border: 2px solid #0067c5;
}

button:hover {
    background-color: #fff;
    color: #0067c5;
    border: 2px solid #0067c5;
}

.text-standout {
    color: #0067c5;
    font-weight:600;
}

.site-header {

    .navbar {
        background-color: #000000;
    }

    .img-ico img {
        padding-top: 9px;
    }

    .title-wrap img {
        float:left;
        margin-right:5px;
    }

    .navlist ul {
        list-style-type:none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        float:right;
        margin-top:25px;
    }
    .navlist a {
        color: #ccc;
    }
    .navlist a:hover {
        text-decoration: none;
        color: #fff;
    }
    .navlist ul li {
        display: inline;
        padding-right: 15px;
    }
    .byline {
        clear: both;
        color: #fff;
        line-height: 1em;
        font-size: 14px;
        margin-left: 57px;
        font-weight: 400;
    }
    .byline p {
        margin-top:-16px;
    }
    .counter {
        text-align: center;
    }
    .box-num {
        font-weight: 700;
        font-size: 26px;
        text-align:center;
        padding: 2px 14px;
        margin: 0px 5px;
        border: 1px solid #0067c5;
        color: #0067c5;
    }
    .box-byline {
        text-align: center;
        margin-top: 10px;
        font-size: 11px;
    }
    .liberate {
        text-align: center;
    }
    .navbar-brand {
        color: #ffffff!important;
        font-size: 22px;
        font-weight: 400;

        @media (max-width: $screen-xs-max) {
            font-size: 20px;
        }

        &,
        &:visited {
            color: $grey-color-dark;
        }
    }

    .header-cta {
        p.cta-tagline {
            clear:both;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        p.cta-tagline row col-md-8 p {
            margin-top: 12px;
        }
    }
    .cta p {
            margin-top: 30px;
            font-size: 24px;
            text-align: center;
    }
}

.site-footer {
    background-color: #f7f7f7;
    margin-top: 30px;
    padding: 30px;
    h2 {
        margin-top: 0px;
    }
    .logos {
        margin-top: 30px;
    }
    .logo {
        width: auto;
        height: 75px;
        margin-bottom: 20px;
    }
}

.year-nav {
    list-style-type: none;
    padding-left: 0px;

    li {
        display: inline;
        margin-right: 15px;

        a,
        a:visited {
            color: $link-color;
        }

        a.active,
        a.active:visited {
            color: $text-color;
            font-weight: 500;
        }
    }
}

<<<<<<< HEAD
.introduction {
    .banner p {
        font-size: 30px;
        font-weight: 700;
    }
    margin-top: 30px;
    margin-bottom: 30px;
    .cta a {
        font-weight: 600;
        color: #0067c5;
    }
}

.gazettes_nav {
        
    .gazettes_nav_btn {
        background-color: #0067c5;
        border: none;
        color: #ffffff;
        padding: 10px;
        font-weight: 600;
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .btn_text {
        background-color: rgba(0, 0, 0, 0.71);
        text-align:left;
        padding: 5px;
    }

    .btn_p {
        color: #ffffff;
        font-size: 24px;
        font-family: 'Lato', sans-seif;
        line-height: 42px;
    }

    .btn_p:hover {
        text-decoration: none;
    }

    .btn_nat {
        background-image: url(/img/provinces/national_4.jpg);
        background-position: center;
        background-size: cover;
    }    
    .btn_wc {
        background-image: url(/img/provinces/westerncape.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_gt {
        background-image: url(/img/provinces/gauteng.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_kzn {
        background-image: url(/img/provinces/kwazulunatal.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_ec {
        background-image: url(/img/provinces/easterncape.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_fs {
        background-image: url(/img/provinces/freestate.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_nw {
        background-image: url(/img/provinces/northwest.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_nc {
        background-image: url(/img/provinces/northerncape.jpg);
        background-size: cover;
    }
    .btn_mp {
        background-image: url(/img/provinces/mpumalanga.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_lim {
        background-image: url(/img/provinces/limpopo.jpg);
        background-position: center;
        background-size: cover;
    }

}

.img-center {
    text-align:center;
}
.img-center a:hover {
    text-decoration: none;
}

.join-title {
    background-color: #0067c5;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0067c5;
}

.join-title:hover {
    background-color:#fff;
    color: #0067c5;
    border: 2px solid #0067c5;
}
.banner a:hover {
    text-decoration:none;
}

.join_intro {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .row {
        margin-left: 0px;
        margin-right:0px;
    }
    .site-header .byline {
        margin-left: 72px;
    }
}


@media screen and (max-width: 679px) {
    .site-header .navlist ul {
        clear: both;
        float: none;
        text-align: center;
    }
    .site-header .byline {
        margin-left: 0px;
        text-align: center;
    }
    .site-header .byline p {
        margin-top: -47px;
    }
    .navbar-brand {
        float: none;
        padding: 0px;
    }
    .title-wrap {
        text-align: center;
    }
    .site-header .title-wrap img {
        float:none;
        margin-right:0px;
    }
    .site-header .img-ico img {
        padding-top: 0px;
    }
    .introduction .banner p {
        font-size: 20px;
    }
}
=======
// free-text article pages
article {
    section {
        margin-bottom: 40px;
    }
}
>>>>>>> origin/gh-pages
