.site-header {
    .navbar {
        border-top: 5px solid $grey-color-dark;
        border-bottom: 1px solid $grey-color-light;
    }

    .navbar-brand {
        font-size: 26px;
        font-weight: 300;

        @media (max-width: $screen-xs-max) {
            font-size: 20px;
        }

        &,
        &:visited {
            color: $grey-color-dark;
        }
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding: 30px;

    h2 {
        margin-top: 0px;
    }

    .logos {
        margin-top: 30px;
    }

    .logo {
        width: auto;
        height: 75px;
        margin-bottom: 20px;
    }
}

.year-nav {
    list-style-type: none;
    padding-left: 0px;

    li {
        display: inline;
        margin-right: 15px;

        a,
        a:visited {
            color: $link-color;
        }

        a.active,
        a.active:visited {
            color: $text-color;
            font-weight: 500;
        }
    }
}

// free-text article pages
article {
    section {
        margin-bottom: 40px;
    }
}
