body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-header {
  .navbar {
    margin-bottom: 0px;
  }

  .navbar-static-top {
    border-width:0px;
  }

  .navbar.navbar-default {
    background-color: #333;
    border-bottom:0;
    color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);

    .navbar-brand {
      color: #fff;
      height:auto !important;
      font-size:22px;
      display:block;
      line-height:20px;

      &:nth-child(2) {
        padding:10px 15px !important;
      }

      &:nth-child(3) {
        padding:25px 15px !important;
      }

      img {
        width:50px;
        height:auto;
      }
    }

    .navbar-nav {
      &> li {

        &.active {
          &> a {
            color: #aaa;
          }
        }
        &> a {
          color: #fff;
          padding-top:25px;
          padding-bottom:25px;
          font-size:14px;
          font-weight:400;
          line-height:20px;
        }
      }
    }
  }
  .subheader {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ddd;
    font-size: 20px;
    font-weight: 400;
    color: #333;

    .counter {
      text-align: right;
    }
  }
  .box-num {
      font-weight: 700;
      font-size: 26px;
      text-align:center;
      padding: 2px 14px;
      margin: 0px 5px;
      border: 1px solid $link-color;
      color: $link-color;
  }
  .navbar-brand {
      color: #ffffff!important;
      font-size: 22px;
      font-weight: 400;

      @media (max-width: $screen-xs-max) {
          font-size: 20px;
      }

      &,
      &:visited {
          color: $grey-color-dark;
      }
  }

  .header-cta {
      p.cta-tagline {
          clear:both;
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 15px;
      }
      p.cta-tagline row col-md-8 p {
          margin-top: 12px;
      }
  }
}

header {
    margin-bottom: 20px;
}

.site-footer {
    background-color: #f7f7f7;
    margin-top: 30px;
    padding: 30px;
    h2 {
        margin-top: 0px;
    }
    .logos {
        margin-top: 30px;
    }
    .logo {
        width: auto;
        height: 75px;
        margin-bottom: 20px;
    }
    .footer-govprinters {

    }
}

.year-nav {
    list-style-type: none;
    padding-left: 0px;

    li {
        display: inline;
        margin-right: 15px;

        a,
        a:visited {
            color: $link-color;
        }

        a.active,
        a.active:visited {
            color: $text-color;
            font-weight: 500;
        }
    }
}

h2, .h2 {
    font-weight: 600;
    color: #333;
}

.introduction {
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.page-tag {
    font-size: 25px;
    font-weight: 400;
    color: #333;
    margin-left: -15px;
}

.gazettes_nav {
    .search-form {
        margin-bottom: 40px;
    }

    .gazettes_nav_btn {
        background-color: $link-color;
        border: none;
        color: #ffffff;
        padding: 10px;
        font-weight: 600;
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .btn_text {
        background-color: rgba(0, 0, 0, 0.71);
        text-align:left;
        padding: 5px;
    }

    .btn_p {
        color: #ffffff;
        font-size: 24px;
        font-family: 'Lato', sans-seif;
        line-height: 42px;
    }

    .btn_p:hover {
        text-decoration: none;
    }

    .btn_nat {
        background-image: url(/img/provinces/national_4.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_wc {
        background-image: url(/img/provinces/westerncape.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_gt {
        background-image: url(/img/provinces/gauteng.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_kzn {
        background-image: url(/img/provinces/kwazulunatal.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_ec {
        background-image: url(/img/provinces/easterncape.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_fs {
        background-image: url(/img/provinces/freestate.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_nw {
        background-image: url(/img/provinces/northwest.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_nc {
        background-image: url(/img/provinces/northerncape.jpg);
        background-size: cover;
    }
    .btn_mp {
        background-image: url(/img/provinces/mpumalanga.jpg);
        background-position: center;
        background-size: cover;
    }
    .btn_lim {
        background-image: url(/img/provinces/limpopo.jpg);
        background-position: center;
        background-size: cover;
    }

}

.readmore {
  font-size: 14px;
}

.img-center {
    text-align:center;
}
.img-center a:hover {
    text-decoration: none;
}

.big-cta {
    display: block;
    padding: 15px;
    background-color: $link-color;
    color: white;
    border: 2px solid $link-color;

    &:hover {
      background-color: white;
      color: $link-color;
    }
}

.banner a:hover {
    text-decoration:none;
}

.join_intro {
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner a .fa {
    font-size: 26px;
}

@media screen and (max-width: 768px) {
    .page-tag {
        margin-left: 0px;
    }
}


@media screen and (max-width: 679px) {
    .navbar-brand {
        float: none;
        padding: 0px;
        font-size: 16px;
    }
    .title-wrap {
        text-align: center;
    }
    .site-header .title-wrap img {
        float:none;
        margin-right:0px;
    }
    .site-header .img-ico img {
        padding-top: 0px;
    }
    .banner p {
        font-size: 16px;
    }
    .banner a .fa {
    font-size: 16px;
    }
    .page-tag {
        margin-left: 0px;
    }
    .site-header .subheader {
      .counter,
      .byline {
          text-align: center;
          font-size: 18px;
      }
    }
}

.credits p {
    font-size: 14px;
}

// free-text article pages
article {
    section {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

form.search-form {
  margin-bottom: 20px;
}
