---
layout: default
---

<article class="jurisdiction">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    {% include year_nav.html %}
  </header>

  <div class="row">
    <div class="col-md-6">
      {% include search.html %}
    </div>
  </div>

  <div class="post-content">
    {% for gazette in site.data.gazettes[page.jurisdiction].gazettes[page.year] %}
      {% assign currentdate = gazette.publication_date | date: "%B %Y" %}

      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2>{{ currentdate }}</h2>
        <ul>
        {% assign date = currentdate %}
      {% endif %}

      <li>
        <a href="{{ gazette.archive_url }}">{{ gazette.issue_title }}</a>
      </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </div>

  <footer>
    {% include year_nav.html %}
  </footer>

  <div class="row">
    <div class="col-md-6">
      <div class="other-resources">
        {% include resources.html %}
      </div>
    </div>
  </div>

</article>
